aiogram==3.13.1
asyncpg==0.30.0
python-dotenv==1.0.1
aiohttp==3.10.11
PyPDF2==3.0.1
python-docx==1.1.2
pdfplumber==0.11.4
apscheduler==3.10.4
aiosmtplib==3.0.1
openpyxl==3.1.5
pywin32==312; sys_platform == "win32"
pytesseract==0.3.13
Pillow==10.4.0